body {
    margin: 0;
    background-color: #c6e2e9;
}

#container {
display: flex;
flex-wrap: wrap;
width: 600px;
height: 600px;
border: 3px solid rgb(0, 0, 0);
}

#popup {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(194, 194, 194);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#header {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

.content-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    gap: 40px;
}

.left,
.right {
    flex-direction: column;
}

.upper {
    margin-right: 45px;
}

button {
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}